@import '../Colors.scss';
.chat-page{
    display:flex;
}
.chat-window {
   
    display: flex;
    flex-direction: column;
  
    width: 100%;
    height: 100vh;
    
}

button{
    background-color: transparent;
    border: 0;
    height: 100%;
    color: white;

    font-size: 2rem;
   
    
    margin: 0;
    padding: 0;
}

.chat-header {
    display: flex;
    background-color: opacify($primary-color, 0.3); 
    color: #fff;
    padding: 0 1rem;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    button{
        display: none;
    }
    .logo{
        position: relative;
     
        z-index: 100;
     
       
        padding: 0;

        margin: 0;
        img{
           
            margin: 0;
            height: 2.6rem;
        }
    }
}

.chat-header h2 {
    margin: 0;
  
}

.chat-messages {
    
    
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
   
}
@media only screen and (max-width: 600px) {
    .chat-header {
       padding-top: 10px;
        button{
            display: block;
        }
    }
    
  }
  
