@import 'Colors.scss';
:-webkit-full-screen-ancestor {
  display: none;
}

/* Скрыть полосу статуса в полноэкранном режиме */
body:-webkit-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
    overflow: hidden;
    
}

/* Container Styles */
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  
}

.content {
  display: flex;
  flex: 1;
  position: relative;
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
  body {
    max-width: 100%;
    font-size: large; /* Максимальная ширина 100% для мобильных устройств */
  }
}
