
.message {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  div {
    height: auto;
    max-width: 250px;
    width: max-content;
  }
  .container {
    border: 1px solid #acacbe;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
    
    .contMsg {
      width: 100%;
      .message-bubble {
        text-align: center;
      }
    }
    .footerMsg {
      display: flex;
      font-size: 0.8rem;
      align-items: flex-end;
      .read-icon {
        color: #0078ff;
      }

      .unread-icon {
        color: #d7d7d7;
      }
    }
  }
  &.received{
    align-items: flex-start;
  }
}
