/* Dialog List Styles */
.dialogs {
    width: 300px;
    max-width: 20%;
    background-color: #fff;
    color: #333; /* Dark Gray */
    padding: 5px 0 0 0 ;
    overflow-y: auto;
    flex-shrink: 0;
    .dialog {
        padding: 10px 0 ;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        :last-child {
            border-bottom: none;
        }
    }
    #search-form{
        input{
            width: 100%;
            padding: 0.4rem;
            margin: 0 0  10px 0;
        }
    }
    
}

