
.message {
    margin-bottom: 20px;

    display: flex;
    align-items: flex-start;
}

.message-content {
    background-color: #f0f0f0; /* Light Gray */
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
}

.message p {
    margin: 0;
}

.timestamp {
    font-size: 12px;
    color: #999; /* Gray */
}

.received .message-content {
    background-color: #e5e5ea; /* Light Blue-Gray */
}

.sent {
    justify-content: flex-end;
}

