/* itemMsg.scss */

.message {
  border: 1px solid black;
  width: min-content;
  display: flex; 
  flex-direction: column;
  min-width: 100px;

  &.received{
  
  }
  div{
    height: auto;
    
  }
  .contMsg{
  
  }
  .footerMsg{

  }
  .read-icon {
   
    color: #0078FF;
  }
  
  .unread-icon {
 
    color: #d7d7d7;
  }
  
}
  