.left-menu {
 
    background-color: #009688;
    display: flex;
    padding: 0;
    margin: 0;
    width: 15rem;
    z-index: 99999;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;


  box-sizing: border-box;

  .back {
    text-align: start;
  }

  header {
    height: fit-content;
  }
  hr{
    width: 100%;
  }
  ul {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  footer {
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .left-menu {
    display: none;
  }
}
