.left-menu {
    position: absolute;
    background-color: #009688;
    display: flex;
    left: 0;
    padding: 0;
    margin: 0;
    width: 15rem;
    z-index: 99999;
    flex-direction: column;
    align-items: center;

    /* Учесть границы в расчете размеров элементов */
    box-sizing: border-box;

    .back {
        text-align: start;
    }

    hr {
        /* Либо добавьте стили, либо оставьте это свойство по умолчанию */
    }

    header {
        height: fit-content;
    }

    ul {
        height: 100%;
        /* Уберите margin и padding, оставьте значения по умолчанию */
    }

    footer {
        height: fit-content;
        /* Уберите width, оставьте значение по умолчанию */
    }
}

@media only screen and (max-width: 600px) {
    .left-menu {
        display: none;
    }
}
