.left-menu {
    position: absolute;
    background-color: opacify($main, 0.3);
    display: flex;
    padding: 0;
    margin: 0;
    width: 15rem;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    z-index: 999;

  box-sizing: border-box;

  .back {
    text-align: start;
  }

  header {
    height: fit-content;
  }
  hr{
    width: 100%;
  }
  ul {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  footer {
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .left-menu {
    // display: none;
  }
}
