@import "../Colors.scss";
.loginForm {
  margin: auto;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  button {
    cursor: pointer;
    max-height: 40px;
    &:hover {
      text-shadow: 5px 1px gray;
    }
  }
  .mForm {
    padding: 100px;
    border-radius: 30px;
    background-color: $primary-color;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .logo{
        position: relative;
     
        z-index: 100;
      
        padding: 0;

        margin: 0;
        img{
           
            margin: 0;
            max-height: 200px;
        }
    }
    input {
      display: block;
      margin: 10px 0;
      padding: 10px;

      border-radius: 10px;
      border: 1px solid #eee;
      transition: 0.3s border-color;
      &:hover {
        border: 1px solid #aaa;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
    .loginForm {
        padding: 0;
        display: flex;

        .mForm{
            border-radius: 0;
            width:100vw;
            padding: 0;
            height: 100vh;
        }
    }
}